{% if site.data.educationdetails %}
<section class="section educationdetails-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Education</h2>

{% for educationdetails in site.data.educationdetails %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="degree">{{ educationdetails.degree }}</h3>
        <div class="  Thesis Title">{{ educationdetails.thesis }}</div>
      </div><!--//upper-row-->

      <div class="Brief Synopsis of Research">{{ educationdetails.brief }}</div>
      <div class="Research Interests">{{ educationdetails.interests }}</div>
      <div class="Modules included">{{ educationdetails.modules }}</div>
      <div class="Final Project Title">{{ educationdetails.project }}</div>

    </div><!--//meta-->

    {% if educationdetails.details %}
    <div class="details">
      <p>{{ educationdetails.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
