<!DOCTYPE html>
<html>
<body>
  <h2 class="section-title"><i class="fa fa--book"></i>Education</h2>

    <div class="item">

      <h3> PhD </h3>
      <h5> Thesis Title </h5> <p> A simulation perspective on DNA condensation in bacterial and human cells. (Funded by EPSRC through the CM-CDT)</p>
      <h5> Supervisor </h5> <p> Prof. D. Marenduzzo</p>
      <h5> Brief Synopsis of Research </h5> <p> DNA isolated in its thread-like form can be two to three orders of magnitude longer than the cell in which it is embedded. Despite numerous studies into cellular processes, the mechanisms that lead to the condensation of DNA molecules are still not fully understood. We developed a coarse-grained polymer physics model to study the condensation of chromosomes in two different systems - bacterial and human tissue cells.
      <h5> Research Interests </h5> <p> My current research aims at understanding the mechanisms responsible for the large-scale DNA folding and structure.</p>

      <h3> MSc, First-class Honours.</h3>
      <h5> Thesis Title </h5> <p> Wetting of cholesteric liquid crystals, graded as 18/20.</p>
      <h5> Modules included </h5> <p> Object-Oriented Programming, Dynamical Systems, Criticality and Complex Systems, Advanced Laboratory of Condensed Matter, Nanophysics.</p>

      <h3> BSc, First-class Honours. </h3>
      <h5> Final Project Title </h5> <p> Avalanches as a SOC system, graded as 17/20.</p>
      <h5> Modules included </h5> <p> Fundamentals of Programming, Computational Physics, Numerical Methods, Statistical Physics, Condensed Matter Physics, Continuum Mechanics.</p>

  </div><!--//item-->
  </body>
</html>
